<div class="container p-2">

 <h3 class="text-center">Formulario</h3>
  <form [formGroup]="checkoutForm">
    <div class="form-group">
      <label for="exampleFormControlInput1" >Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" formControlName="email" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput2">Name</label>
      <input type="text" class="form-control" formControlName="name" id="exampleFormControlInput2" placeholder="Pepito perez">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput3">Phone</label>
      <input type="number" class="form-control" formControlName="phone" id="exampleFormControlInput3" placeholder="11111111111">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Description</label>
      <textarea class="form-control" formControlName="description" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label *ngIf="checkoutForm.valid" class="text-success">El formulario es correcto</label>
      <label *ngIf="!checkoutForm.valid" class="text-danger">Error, formulario invalido</label>
    </div>

  </form>
  <div class="container">
     <button [disabled]="!checkoutForm.valid" (click)="validateForm()" type="button" class="btn btn-secondary" id="actions">Register</button>&nbsp;&nbsp;
    <button (click)="showAllUsers()" type="button" class="btn btn-primary" id="actions">Mostrar Usuarios</button>&nbsp;&nbsp;

<br>
<br>
<br>
   <table class="tbl" ng-show="tableVisibility">
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Description</th>

      <th colspan="2">Operacion</th>

    </tr>
    <tr *ngFor="let user of users; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.description}}</td>

      <td> <button (click)="editUser(user.idUser)" type="button" class="btn btn-warning">Editar</button></td>
      <td> <button (click)="deletUser(user.idUser)" type="button" class="btn btn-danger">Eliminar</button></td>
    </tr>
  </table>
  </div>
</div>
